/*
 * Project: IJM
 * File: Main styles
 */
/* ==========================================================================
   FONTS
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,400italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:700,400italic,400);
/* ==========================================================================
   BASE STYLES
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 100%/1.5rem 'Open Sans', sans-serif;
  color: #fff;
  letter-spacing: .03em;
  background: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  background: #000;
}
/* ==========================================================================
   _TEXT STYLES
   ========================================================================== */
p,
ul,
ol,
dl {
  margin-top: 24px;
  margin-bottom: 24px;
}
:focus {
  outline: -webkit-focus-ring-color auto 0;
}
a {
  color: #fff;
  outline: none;
  text-decoration: none;
  -webkit-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
a:hover, a:focus {
  outline: none;
  text-decoration: underline;
}
figure {
  margin: 24px 0;
}
figure img {
  max-width: 100%;
  height: auto;
  display: block;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*** HEADINGS ***/
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p,
.h1 + p,
.h2 + p,
.h3 + p,
.h4 + p,
.h5 + p,
.h6 + p {
  margin-top: 0;
}
/* ==========================================================================
   GENERAL STYLES
   ========================================================================== */
.hidden {
  display: none;
}
.pseudo {
  display: block;
  content: '\0020';
  overflow: hidden;
}
.clearfix {
  display: table;
  content: '\0020';
  clear: both;
}
/* ==========================================================================
   CONTAINERS
   ========================================================================== */
/*** .PAGE ***/
.page {
  width: 100%;
  overflow-x: hidden;
}
/*** .WRAPPER ***/
.wrapper {
  max-width: 1080px;
  margin-right: 100px;
  margin-left: 100px;
}
.wrapper:after {
  display: table;
  content: '\0020';
  clear: both;
}
/* ==========================================================================
   FORMS
   ========================================================================== */
form,
fieldset,
legend {
  padding: 0;
  border: none;
  margin: 0;
  display: block;
}
/*** BUTTONS ***/
[type="submit"],
[type="reset"],
[type="button"],
button,
.button {
  padding: 10px 16px;
  border: none;
  border-radius: 17px;
  font: 16px/16px 'Open Sans', sans-serif;
  color: #000;
  text-align: center;
  text-decoration: none;
  letter-spacing: .03em;
  white-space: nowrap;
  display: inline-block;
  background: #fff;
  -webkit-transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
[type="submit"]:hover,
[type="reset"]:hover,
[type="button"]:hover,
button:hover,
.button:hover,
[type="submit"]:focus,
[type="reset"]:focus,
[type="button"]:focus,
button:focus,
.button:focus,
[type="submit"]:active,
[type="reset"]:active,
[type="button"]:active,
button:active,
.button:active,
[type="submit"]:focus,
[type="reset"]:focus,
[type="button"]:focus,
button:focus,
.button:focus {
  text-decoration: none;
  background: #fff;
}
/*** FIELDS ***/
[type="text"],
[type="tel"],
[type="email"],
textarea {
  width: 100%;
  max-width: 200px;
  padding: 12px 15px;
  border: 1px solid #fff;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  font: 16px 'Open Sans', sans-serif;
  color: #000;
  background: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
textarea {
  max-width: 550px;
  height: 170px;
  resize: none;
}
/* noinspection CssInvalidPseudoSelector */
::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
::placeholder {
  color: #fff;
  opacity: 1;
}
/*** DEFAULT ***/
.form-group {
  margin-bottom: 20px;
}
.form-group:after {
  display: table;
  content: '\0020';
  clear: both;
}
.form-group:last-child {
  margin-bottom: 0;
}
/* ==========================================================================
   HEADER
   ========================================================================== */
.header {
  height: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: #0078c1;
  cursor: default;
  -webkit-transform: translate3d(0, -5rem, 0);
          transform: translate3d(0, -5rem, 0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.fp-viewing-section-1 .header {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.header .wrapper {
  max-width: 1280px;
  height: 100%;
  margin-left: auto;
  position: relative;
}
.header .logo {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header .logo img {
  width: auto;
  height: 60px;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header .contacts {
  height: 1.5rem;
  margin: auto 0;
  position: absolute;
  top: 0;
  left: 100px;
  bottom: 0;
}
.header .contacts a {
  padding-left: 1.5rem;
  margin-left: 1.5rem;
  position: relative;
}
.header .contacts a:first-child {
  margin-left: 0;
}
.header .contacts a[href^="tel:"]:before,
.header .contacts a[href^="mailto:"]:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  width: 20px;
  height: 20px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto 20px;
}
.header .contacts a[href^="tel:"] {
  cursor: default;
}
.header .contacts a[href^="tel:"]:before {
  background-position: 0 0;
}
.header .contacts a[href^="tel:"]:hover, .header .contacts a[href^="tel:"]:focus {
  text-decoration: none;
}
.header .contacts a[href^="mailto:"]:before {
  background-position: -25px 0;
}
.header .action {
  height: 2.375rem;
  padding: 0 1rem;
  border: 1px solid #fff;
  border-radius: 8px;
  margin: auto 0;
  display: block;
  font-size: 1.25rem;
  line-height: 2.375rem;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 2.5rem;
  bottom: 0;
  box-sizing: content-box;
  -webkit-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header .action:hover, .header .action:focus {
  color: #0078c1;
  text-decoration: none;
  background: #fff;
}
/* ==========================================================================
   PAGE AND SECTION
   ========================================================================== */
.page {
  width: 100%;
  position: relative;
  z-index: 1;
}
.section {
  overflow: hidden;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
/* ==========================================================================
   SECTION-1
   ========================================================================== */
.section-1 {
  background-image: url('../img/section-1.jpg');
}
.section-1 .fp-tableCell {
  padding-top: 80px;
}
.section-1 .heading:after {
  content: '.';
}
/* ==========================================================================
   SECTION-2
   ========================================================================== */
.section-2 {
  background-image: url('../img/section-2.jpg');
}
/* ==========================================================================
   SECTION-3
   ========================================================================== */
.section-3 {
  background-image: url('../img/section-3.jpg');
  background-position: right center;
}
/* ==========================================================================
   SECTION-4
   ========================================================================== */
.section-4 {
  background-image: url('../img/section-4.jpg');
}
/* ==========================================================================
   SECTION-5
   ========================================================================== */
.section-5 {
  background-image: url('../img/section-5.jpg');
  background-position: left center;
}
.section-5 .fp-tableCell {
  padding-bottom: 80px;
}
/* ==========================================================================
   DOTS
   ========================================================================== */
.dots {
  padding: 0;
  margin: -110px 0 0;
  list-style: none;
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 30px;
  z-index: 10;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dots li {
  width: 19px;
  height: 19px;
  margin: 22px 0;
  position: relative;
}
.dots li:first-child {
  margin-top: 0;
}
.dots li:last-child {
  margin-bottom: 0;
}
.dots li:before {
  width: 1px;
  height: 15px;
  border-radius: 0;
  margin: 0 0 0 -1px;
  left: 50%;
  top: 22px;
  opacity: .5;
  background: #fff;
  -webkit-transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.dots li a {
  width: 100%;
  height: 100%;
  padding: 4px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: block;
  opacity: .5;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.dots li a:before {
  border-radius: 50%;
  overflow: hidden;
  display: block;
  content: '';
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  background: #fff;
  -webkit-transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.dots li a:hover, .dots li a:focus {
  opacity: 1;
}
.dots li a:hover:before, .dots li a:focus:before {
  box-shadow: 0 0 5px 0 #fff;
}
.dots li.active a {
  border-color: #fff;
  opacity: 1;
}
/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer {
  height: 5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: #1f1f1f;
  cursor: default;
  -webkit-transform: translate3d(0, 5rem, 0);
          transform: translate3d(0, 5rem, 0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.fp-viewing-section-5 .footer {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.footer .wrapper {
  max-width: 1280px;
  height: 100%;
  margin-left: auto;
  position: relative;
}
.footer .copyright {
  height: 1.5rem;
  margin: auto 0;
  position: absolute;
  top: 0;
  left: 2.5rem;
  bottom: 0;
}
/* ==========================================================================
   RESPONSIVE
   ========================================================================== */
@media (min-width: 375px){
  .page{
    overflow-x: visible;
  }
  [type="submit"],
  [type="reset"],
  [type="button"],
  button,
  .button{
    height: 35px;
    padding-right: 26px;
    padding-left: 26px;
  }
  [type="submit"],
  [type="reset"],
  [type="button"],
  button{
    height: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 24px;
  }
}
@media (min-width: 1280px){
  .wrapper{
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=maps/main.css.map */