/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer {
  height: 5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: @color-gray;
  cursor: default;
  transform: translate3d(0, 5rem, 0);
  transition: transform @duration-l;

  .fp-viewing-section-5 & {
    transform: translate3d(0, 0, 0);
    transition-delay: .6s;
  }

  .wrapper {
    max-width: 1280px;
    height: 100%;
    margin-left: auto;
    position: relative;
  }

  .copyright {
    height: 1.5rem;
    margin: auto 0;
    position: absolute;
    top: 0;
    left: 2.5rem;
    bottom: 0;
  }
}