/* ==========================================================================
   PAGE AND SECTION
   ========================================================================== */
// PAGE
.page {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;

  @media @mobile-old {
    height: auto !important;
  }
}
// SECTION
.section {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform-style: preserve-3d;
  backface-visibility: hidden;

  .fp-tableCell {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  // WRAPPER
  @page-transition-duration: .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  @page-transition-delay: .6s;

  &.fp-section {
    .wrapper {

      > :first-child { margin-top: 0; }
      > :last-child { margin-bottom: 0; }
      > * {
        opacity: 0;
        transform: translate3d(0, -.5rem, 0);
        transition: opacity @page-transition-duration, transform @page-transition-duration;

        &.bars, &.system {
          transform: translate3d(0, 0, 0);
          transition: opacity @page-transition-duration;
        }
        .active.fp-completely.fp-section& { opacity: 1; transform: translate3d(0, 0, 0); }

        &:nth-child(n+3) { transition-delay: 3 * @page-transition-delay; }
        .loopingClass (@index) when (@index > 0) {
          &:nth-child(@{index}) { transition-delay: (@index - 1) * @page-transition-delay; }
          .loopingClass(@index - 1);
        }
        .loopingClass(3);
      }
    }
  }

  // GLOW EFFECT
  @keyframes glow {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  .glow {
    opacity: 0;
    transition: opacity @duration;
    animation: glow 2s 1s infinite;
    .active& { opacity: 1; }
  }

  // SCROLL GLOWING HELPER
  .scroll {
    .animated& {
      opacity: 0 !important;
      transition: opacity @duration-l !important;
    }
  }

  // HEADING
  .heading {
    margin: 1.6rem auto;
    font-size: 3.2rem;
    line-height: 3.2rem;
    @media @mobile-landscape {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  // SUBHEADING
  .subheading {
    max-width: 50rem;
    margin: 1.6rem auto;
    font-size: 1.2rem;
    font-family: @font-heading;
    letter-spacing: -.02em;
    strong { font-weight: inherit; }
    @media @mobile-landscape {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  @media @mobile-landscape {
    p {
      margin-top: .8rem;
      margin-bottom: .8rem;
    }
  }

  // ITALIC
  .italic {
    font-size: .9rem;
    font-style: italic;
  }

  // SMALL
  .small {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: .8rem;
    line-height: 1.2rem;
  }

  // DOWN
  @keyframes bounce {
    0%, 100% { transform: translate3d(0, 0, 0); }
    50% { transform: translate3d(0, .25rem, 0); }
  }
  &:before {
    .pseudo;
    width: 1.5rem;
    height: 3.5rem;
    margin: auto;
    position: absolute;
    right: 0;
    bottom: 1.25rem;
    left: 0;
    background: url('@{images}/down.png') no-repeat center center;
    background-size: contain;
    transition: opacity .6s ease;
    opacity: 0;
    animation: bounce 1.6s infinite paused;
    .enabled& { opacity: 1; animation-play-state: running; }
  }
}