/* ==========================================================================
   PAGE AND SECTION
   ========================================================================== */
// PAGE
.page {
  width: 100%;
  position: relative;
  z-index: 1;
}
// SECTION
.section {
  overflow: hidden;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}