/* ==========================================================================
   SECTION-3
   ========================================================================== */
.section-3 {
  background-image: url('@{images}/section-3.jpg');
  background-position: right center;

  .heading {
    margin: 2.2rem 0;
    font-size: 2.2rem;
    line-height: 2.2rem;
    letter-spacing: -.025em;
    font-weight: normal;
  }

  .subheading {
    margin-top: 1rem;
    margin-bottom: 1rem;
    + p {
      margin-top: 0;
    }
  }

  .small {
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
  }

  .fade {
    opacity: 0;
    transition: opacity @duration-l 3s;
    .animated& {
      opacity: 1;
    }
  }
}
