// ==========================================================================
// VARIABLES
// ========================================================================== */

@w-mobile-xxs: 320px;
@w-mobile-xs: 375px;
@w-mobile-sm: 414px;
@w-mobile-md: 568px;
@w-mobile-lg: 667px;
@w-tablet-sm: 750px;
@w-tablet-md: 990px;
@w-desktop: 1280px;

@max-width: 1080px;

@mobile-xs: ~"(min-width: @{w-mobile-xs})";
@mobile-sm: ~"(min-width: @{w-mobile-sm})";
@mobile-md: ~"(min-width: @{w-mobile-md})";
@mobile-lg: ~"(min-width: @{w-mobile-lg})";
@tablet-sm: ~"(min-width: @{w-tablet-sm})";
@tablet-md: ~"(min-width: @{w-tablet-md})";
@desktop: ~"(min-width: @{w-desktop})";
@portrait: ~"(orientation: portrait)";
@landscape: ~"(orientation: landscape)";

@font-default: 'Open Sans', sans-serif;
@font-lato: 'Lato', sans-serif;
@font-ubuntu: 'Ubuntu', sans-serif;
@font-noto: 'Noto Sans', sans-serif;

@color-black: #000;
@color-white: #fff;

@color-blue: #0078c1;
@color-gray: #1f1f1f;

@margin-sm: 6px;
@margin-md: 24px;
@margin-lg: 36px;

@duration-s: .1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
@duration: .2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
@duration-l: .4s cubic-bezier(0.645, 0.045, 0.355, 1.000);

@images: '../img';
@fonts: '../fonts';